*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-color: rgb(235, 163, 163);
    background: url(images/istockphoto-1203960001-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
}

.container .nav{
    justify-content: space-between;
    display: flex;
    background-color: #E94E7A;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.container .nav h2{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    margin-right: 30px;
    padding: 10px 0;
}

.container .nav h2 a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.container .nav h2 span{
    color: black;
    font-size: 25px;
    font-weight: 400;
}


.container .nav .nav-bar li{
    list-style: none;
    display: inline-block;
    margin-right:15px ;
}

.container .nav .nav-bar li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.container .nav .nav-bar li a:hover{
    text-decoration: none;
    color: #E94E7A;
    font-size: 17px;
    font-weight: 400;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.blog-button{
    border-radius: 10px 0;
    background-color: #E94E7A;
    padding: 5px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 0px rgba(20, 20, 20, 0.5);
}

.blog-button:hover{
    border-radius: 10px 0;
    background-color: #d60b45;
    padding: 5px;
    border: 2px solid #fff;
    transition: 0.2s;
}

.blog-button a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 400;

}

.blog-container{
    padding: 5px;
}

.blog-div{
    width: 100%;
    height: auto;
}

.blog-div .side-bar{
    width: 300px;
    height: auto;
    float: right;
    background-color: #E94E7A;
    padding: 10px;
    margin: 5px 5px 10px 5px;
}

.main-blog{
    width: 1000px;
    height: auto;
    background-color: #fff;
    padding: 20px;
    margin: 5px 5px 10px 5px;
}