*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: auto;
    background-color: rgb(235, 163, 163);
    background: url(images/istockphoto-1203960001-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 100%;
}

.container .nav{
    justify-content: space-between;
    display: flex;
    background-color: #E94E7A;
    align-items: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.container .nav h2{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
    margin-right: 30px;
    padding: 10px 0;
}

.container .nav h2 a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.container .nav h2 span{
    color: black;
    font-size: 25px;
    font-weight: 400;
}


.container .nav .nav-bar li{
    list-style: none;
    display: inline-block;
    margin-right:15px ;
}

.container .nav .nav-bar li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.container .nav .nav-bar li a:hover{
    text-decoration: none;
    color: #E94E7A;
    font-size: 17px;
    font-weight: 400;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.blog-button{
    border-radius: 10px 0;
    background-color: #E94E7A;
    padding: 5px;
    border: 2px solid white;
    box-shadow: 5px 5px 5px 0px rgba(20, 20, 20, 0.5);
}

.blog-button:hover{
    border-radius: 10px 0;
    background-color: #d60b45;
    padding: 5px;
    border: 2px solid #fff;
    transition: 0.2s;
}


.blog-button a{
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 400;

}

.section-container{
    position: relative;
    padding: 50px 50px;
    
}

.section-container-2{
    position: relative;
}

.about-author{
    margin: 0;
    justify-content: center;
    align-items: center;
}


.about-author img{
    float: left;
    width: 300px;
    margin-right: 30px;
    align-items: center;
}


/*
.about-author{
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    /*
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 900px));
    column-gap: 10px;
    row-gap: 10px;*/
}

.about-author img{
    width: 300px;
    height: 300px;
    float: left;
    /*
    object-fit: cover;
    object-position: center;*/
    align-items: center;
}

.about-author{
    line-height: 25px;
}

.about-author p{
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

.about-author .name{
    font-size: 30px;
    font-weight: 500;
    text-align: right;
    margin-top: 20px;
    color: #E94E7A;
}


.section-container-2 .books-container{
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}

/*
.book-main-container{
    max-width: 80%;
    height: auto;
    display: flex;
}*/

.section-container-2 .books-container .book-main-container .books{
    width: 320px;
    margin: 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}


.section-container-2 .books-container .book-heading{
    font-size: 25px;
    font-weight: 500;
    margin: 20px;
    color: #d60b45;
    text-align: center;
}

.book-main-container{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 350px));
    column-gap: 20px
    row-gap: 20px;
}

.books img{
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;

    /*width: 350px;
    height: 400px;
    align-items: center;
    justify-content: center;*/
}

.books p{
    width: 250px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.explore-more{
    background-color: #E94E7A;
    border: none;
    padding: 12px;
    border-radius: 15px 0 15px 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.explore-more a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.explore-more a:hover{
    background-color: white;
    padding: 12px;
    border-radius: 15px 0 15px 15px;
    color: #E94E7A;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    transition: 0.2s;
}

.latest-news{
    margin: 10px 10px;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
}

.latest-news h2{
    font-size: 30px;
    font-weight: 600;
    color: #d60b45;
    margin-bottom: 20px;
    margin-left: 20px;
}

.news-container{
    width: 100vw;
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    column-gap: 20px;
    row-gap: 20px;
    
}

.text-container{
    margin-right: 20px;
    background-color: #E94E7A;
    padding: 30px;
    margin-bottom: 20px;
}

.text-container:hover{
    margin-right: 20px;
    background-color: #d60b45;
    padding: 30px;
    margin-bottom: 20px;
}


.text-container h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: left;
    margin-bottom: 20px;
}

.text-container p{
    width: 300px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-align: justify;
}

.read-more{
    margin-top: 10px;
}

.read-more a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}

.read-more a:hover{
    text-decoration: none;
    color: rgb(233, 180, 207);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}


.see-all-news{
    background-color: #E94E7A;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
}

.see-all-news:hover{
    background-color: #d60b45;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 20px;
}


.see-all-news a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
}

footer{
    background-color: #E94E7A;
}

.footer-text{
    padding: 1% 5% 1% 5%;
}

.footer-text h4{
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.footer-text p{
    font-size: 20px;
    font-weight: 200;
    color: #fff;
    text-align: center;  
    margin-bottom: 10px;
}

.social-links{
    align-items: center;
    justify-content: center;
    margin-left: 570px;
    padding-bottom: 20px;
}

.social-links a img{
    width: 30px;
    margin-right: 10px;
}